@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a:not(.btn):is(:hover, :focus-visible) {
  text-decoration: underline;
  text-underline-offset: 0.2ch;
}
